*{padding: 0; margin: 0}

.container {width: 1000px; margin: auto;}

/*css header */ 
body {background:  #0c2461}
header {height: 140px;background : #6a89cc; overflow:hidden; padding:  10px;}
header img {-webkit-clip-path: circle(50%);}
header .kiri img {width: 100px; height: 100px; margin : 15px 0 15px 20px; float:left;}

header .kanan {font-size: 20px ; color: black; 
float:left; margin-top: 15px; margin-left : 90px;}
header .kanan p {margin: auto;}

menu {position: sticky; top: 0px;}

article {overflow : hidden; background: #6a89cc; padding: 10px;}
article h1 {color: black; margin-bottom: 10px; font-size: 30px; font-family: cambria;}
article p {text-align: justify;}
article .kiri {border: 5px dotted black;padding-right: 5px;width: 300px; float: left;}
article .kiri h1 {margin-left: 8px;}

/*bagian hubungi kami */ 
article .kiri .kiritengah {position: fixed; left: -10px; width: 200px; bottom: 30px; 
	display: absolute; }
article .kiri .kiritengah {background: silver ; padding:15px; margin-top:15px; margin-left: 5px;color: black;}
article .kiri .kiritengah img {width: 50px; padding: 0 20px 0 0}
article .kiri .kiritengah h1 {margin-left: auto;}
article .kiri .kiritambahan {position: fixed; right: 10px; width: 200px; bottom: 30px; 
	display: absolute; }
article .kiri .kiritambahan {background: silver ; padding:15px; margin-top:15px; margin-left: 5px;color: black;}
article .kiri .kiritambahan img {width: 50px; padding: 0 20px 0 0}
article .kiri .kiritambahan h1 {margin-left: auto;}	

/* memberikan efek ketika mendekati logo*/
article .kiri .kiritengah img:hover {width: 52px}

article .kiri .linkyoutube iframe {width: 295px; height: 200px;}
article .kiri h1 {color:  black; margin-top: 5px;}
article .kanan {width: 650px; float: right;}

/* membuat ukuran gambar sebelah kanan lebih kecil */
article .kanan .atas img {width: 650px; height: 340px;}
article .kanan .atas img:hover {-webkit-mask-image:  radial-gradient(circle at 20% 50%, black 15%,
rgba(0, 0, 0, 0.4) 20%); }
article .kanan .atas img:hover {}
article .kanan .atas p {margin-top: 20px; padding-right: 5px;}

article .kanan .bawah {overflow: hidden; margin-top: 35px;}
article .kanan .bawah .kiribawah {width: 315px;float: left; border-left:4px solid red; }
article .kanan .bawah .kananbawah {width: 315px; float: right;border-left:4px solid red;}
article .kanan .bawah .kananbawah img {width: 50px; margin-left:12px; background: #4a69bd;}
article .kanan .bawah h1,p {margin-left : 12px;}

article .kanan .kanantambahan h1 {text-align: center;}
article .kanan .kanantambahan .tambahan1 {width: 200px; float: left;border-left:4px solid red;}
article .kanan .kanantambahan .tambahan1 img {float: left;width: 50px; margin: 0 5px 0 5px;}
article .kanan .kanantambahan .tambahan1 p {margin: 0 10px 0 5px; text-align: justify;}
article .kanan .kanantambahan .tambahan1 h1 {margin: auto;}

article .kanan .kanantambahan .tambahan2 {width: 200px; float: left;border-left:4px solid red;}
article .kanan .kanantambahan .tambahan2 img {float: left;width: 50px;margin: 0 5px 0 5px;}
article .kanan .kanantambahan .tambahan2 p {margin: 0 10px 0 5px; text-align: justify;}
article .kanan .kanantambahan .tambahan2 h1 {margin: auto;}

article .kanan .kanantambahan .tambahan3 {width: 200px; float: left;border-left:4px solid red;}
article .kanan .kanantambahan .tambahan3 img {float: left;width: 50px;margin: 0 5px 0 5px;}
article .kanan .kanantambahan .tambahan3 h1 {margin: 0 10px 0 5px; text-align: justify;}
article .kanan .kanantambahan .tambahan3 p {margin: auto;}

.new p {margin-left: auto;}
.new {padding-top: 10px;background: #6a89cc;}
.new .paragraf1 {float: left;width: 315px; margin-left:20px;}
.new .paragraf1 img {float: left;width: 100px;margin: 5px 5px 0 5px}
.new .paragraf1 p {margin: 0 10px 0 5px; text-align: justify;}

.new .paragraf2 {float: left;width: 315px; margin-left: 10px;}
.new .paragraf2 img {float: left; width: 100px; margin: 5px 5px 0 5px}
.new .paragraf2 p {margin: 0 10px 0 5px; text-align: justify;}

.new .paragraf3 {float: left;width: 315px; margin-left: 10px;}
.new .paragraf3 img {float: left; width: 100px; margin: 5px 5px 0 5px;}
.new .paragraf3 p {margin: 0 10px 0 5px; text-align: justify;}

.new .paragraf4 {float: left;width: 315px; margin-top: 20px; margin-left: 20px;}
.new .paragraf4 img {float: left; width: 100px; margin: 5px 5px 0 5px}
.new .paragraf4 p {margin: 0 10px 20px 5px; text-align: justify;}

.new .paragraf5 {float: left;width: 315px; margin-top: 20px; margin-left: 10px;}
.new .paragraf5 img {float: left; width: 100px; margin: 5px 5px 0 5px}
.new .paragraf5 p {margin: 0 10px 20px 5px; text-align: justify;}

.new .clear {clear: left;}

footer {background-color: maroon; color:#fff; text-align:center; font-size: 14px;
line-height: 40px; height: 40px; margin-top:15px; width:1000px; }
footer {width: 1000px; height: 40px; position: fixed; bottom: 0px; display: block;}

footer a {color: #fff;}
footer a:hover {background:black; color:red; 
text-decoration: underline; padding: 10px}



