*{padding: 0; margin: 0}

.container {width: 1000px; margin: auto;}


/* ini css header */ 
header {height: 140px;background : #6a89cc; overflow:hidden; padding:  10px;}
header img {-webkit-clip-path: circle(50%);}
header .kiri img {width: 100px; height: 100px; margin : 15px 0 15px 20px; float:left;}

header .kanan {font-size: 20px ; color: black; 
float:left; margin-top: 15px; margin-left : 90px;}
menu{height: 45px ; background:pink; margin-bottom: 20px;}
menu ul li{text-decoration: none; color: purple ;padding:0 35px; list-style: none; float: left; 
			border-right: 1px solid red ; line-height: 45px;}
menu li:hover { background: grey; color: black;}
menu li a:hover {background: darkgreen; color: whitesmoke; font-size: 20px;}
menu li a{text-decoration: none; color:  black;}
article {overflow: hidden;}


footer {background-color: maroon; color:#fff; text-align:center; font-size: 14px;
line-height: 40px; height: 40px; margin-top:15px; width:1000px; }
footer {width: 1000px; height: 40px; position: fixed; bottom: 0px; display: block;}

footer a {color: #fff;}
footer a:hover {background:black; color:red; 
text-decoration: underline; padding: 10px}